<!doctype html>
<html lang="en">

<head>
  <title>Send Email - Testing</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="css/style.css" rel="stylesheet" />
</head>

<body>
  <header>
    <h1>
      Hello <%= locals.username || "User" %>
    </h1>
  </header>
  <form action="/email/send" method="post">
    <label for="toEmail">Reciever's email</label>
    <input type="email" name="toEmail" placeholder="Email" />
    <label for="fromEmail">Sender's email</label>
    <input type="email" name="fromEmail" placeholder="Email" />
    <textarea name="message" placeholder="Message..."></textarea>
    <button type="submit">Button</button>
  </form>
</body>

</html>
